<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DuEvan</title>
    <link rel="stylesheet" href="../Bootstrap/bootstrap/compiler/bootstrap.css">
    <link rel="stylesheet" href="../CSS/styleLogin.css">
</head>

  <body class="text-center">
        <form class="form-signin">
                <div class="text-center mb-4 vsn">
                  <img class="mb-4" src="../Imagens/VSN.png" alt="" width="72" height="72">
                  
                </div>
          
                <div class="form-label-group">
                        <label for="inputLogin">Login</label>
                  <input type="text" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="">
                </div>
          
                <div class="form-label-group">
                        <label for="inputPassword">Senha</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Senha" required="">
                </div>
          
                <div class="checkbox mb-3">
                  <label>
                    <input type="checkbox" value="lembrar de mim"> Lembrar Senha
                  </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
                <p class="mt-5 mb-3 text-muted text-center">© VsN 1.0.0.1</p>
              </form>
  
    <script src="../Bootstrap/jquery/dist/jquery.js"></script>
    <script src="../Bootstrap/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../JS/script.js" ></script>
</body>
</html>