
/* TELA DE FUNDO */
.fundo{
    background:  url('../Imagens/background.jpg') no-repeat center ;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
} 



/* NAVEGADORES */

nav{
    background-color: rgba(14, 2, 2, 0.829);
    font-size: 15px;
    height: 50px;
}
.dropdown-item,.dropdown-menu{
    background-color: rgba(14, 2, 2, 0.829); 
    color: rgb(255,255,255,0.5); 
    font-size: 15px;
}
.dropdown-menu{
    margin:0;
    border: 0;
    border-radius: 0;
}
.fixed-top{
    padding: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 2.5rem;
}

/* .navbar-expand-md .navbar-nav .nav-link:hover {
    background-color: aliceblue;
    color: rgba(14, 2, 2, 0.829);
}  */

.focusNavBar:hover .dropdown-menu{
    display: block;
}

/* AJUSTE DE TELAS */


.tamanhoOpt{
    margin:0;
    padding: 0;
    height: 600px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    margin-top: 1%;
}
.ajusteOpt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ajuste de elementos da tela interna*/

.formAll{
    padding: 2%;
}
form{
    border: 1px solid rgb(5, 5, 5);
    margin-top: 5%;
    width: 65%;
    background: rgb(34, 34, 34);
    color:white;
    border-radius: 5px;
    font-size: 14px;
}
.cabecalio{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
    height: 30px;
}
.tituloPage{
    text-align: center;
    flex-grow: 2;
}
.fechar{
    color:white;
    background:red;
    width: 6%;
    height: 100%;
}
.fechar:hover{
    background:rgba(172, 1, 1, 0.966);
}
.minimizar{
    color:white;
    background:rgba(3, 32, 163, 0.753);
    width: 6%;
    height: 100%;
}


.minimized{
    height: 20px;
    background: green;

}

.minimizar:hover{
    background:rgba(0, 34, 187, 0.911);
}
.form-control{
    height: 50%;
    font-size: 14px;
    padding: 6px;
}
.tituloPage{
    text-align: left;
    margin-left: 3%;
}

.modal-header{
    width: 100%;
    background-color: rgba(14, 2, 2, 0.829);
    color: white;
}

.flex1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.imprimir{
    display: inline-block;
    width: 36.542%;
    margin-top: 4%;
}
.seletores{
    display: flex;
    justify-content: flex-end;
    margin-top: 2%;
}
.botoes{
    display: inline-block;
    width: 63%;
    margin-top: 4%;
}
.opcao{
    text-align: center;
    width: 95px;
    float: right;
    margin-left: 6%;
}
.seletor{
    margin-left: 6%;
    width: 60px;
}
.impr{
    text-align: center;
    width: 95px;
    float: left;
}
.btn{
    background-color: rgb(168, 164, 164);
    color: black;
    border-color: black;
    padding: 1px;
}
.buttonOsDiv{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.buttonOS{
    padding: 15px 100px;
    background-color: rgb(8, 90, 0);
    color: white;
}
.cancelar{
    padding:4px;
    background-color: rgb(139, 2, 2);
    color: white;
}
.lbl{
    padding: 10px 6px;
    
}
.form-control{
    color: black;
    padding: 3px;
}
.grande{
    flex-grow: 0;
}




/* #arquivo:focus{
    
    background-color: rgba(197, 167, 161);  
    color: black;
}  */

/* FOOTER */

/* .dropdown:hover  .dropdown-menu {
    display: block;
}  */
.version{
    color: white;
    font-size: 85%;
    position:fixed;
    bottom: 0;
    width: 99.2%;
    display: flex; 
    align-items: flex-end;
    justify-content: flex-end;
}
